#tabPane {

    -fx-background-color: "TRANSPARENT";

}

.Purple_Buttons {

    -fx-background-color: rgba(227, 86, 255, 0.36);
    -fx-text-fill: rgba(213,0,255,1);
    -fx-background-radius: 10px;

}

.Purple_Buttons:hover {

    -fx-background-color: rgba(227, 86, 255, 0.18);

}

.Purple_Buttons:pressed {

    -fx-background-color: rgba(227, 86, 255, 0.72);

}

.Invisible_Buttons {

    -fx-background-color: "TRANSPARENT";
    -fx-border-color: "LIGHTGREY";
    -fx-border-width: 2;
    -fx-border-radius: 10px;

}

#logoutBtn {

    -fx-background-color: "WHITE";
    -fx-background-radius: 10px;
    -fx-background-insets: 1;

    -fx-border-color: "LIGHTGREY";
    -fx-border-width: 2;
    -fx-border-radius: 10px;

}

#tabPane .tab-header-area .tab-header-background {

    -fx-background-color: "TRANSPARENT";

}

#tabPane .tab-header-area .headers-region .tab {

    -fx-background-color: "TRANSPARENT";


}

#tabPane .tab-header-area .headers-region .tab:hover {

    -fx-background-color: rgba(220,220,220, 1);
    -fx-background-radius: 10px;
    -fx-background-insets: 1;

}

#tabPane .tab-header-area .headers-region .tab:selected {

    -fx-background-color: "WHITE";
    -fx-background-radius: 10px;
    -fx-background-insets: 1;

}

#tabPane .tab-header-area .headers-region {

    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 4;

}

#userManageView, #eventManageView {

    -fx-background-color: TRANSPARENT;
    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 4;

}

#userManageView .table-row-cell, #eventManageView .table-row-cell {

    -fx-background-color: TRANSPARENT;
    -fx-background-insets: 1;
    -fx-background-radius: 1px;

}

#userManageView .table-row-cell:selected , #eventManageView .table-row-cell:selected {

    -fx-background-color: rgba(60, 129, 255, 0.73);

    -fx-border-radius: 1px;
    -fx-border-color: LIGHTGREY;
    -fx-border-width: 2;

}

#userManageView .table-cell, #eventManageView .table-cell {

    -fx-alignment: CENTER;
    -fx-font-family: "Arial Bold";

}

#userManageView .column-header-background, #eventManageView .column-header-background {

    -fx-background-color: TRANSPARENT;

    -fx-border-color: LIGHTGREY;
    -fx-border-width: 0 0 3 0;

}

#userManageView .column-header, #eventManageView .column-header {

    -fx-background-color: TRANSPARENT;

}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-opacity: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-opacity: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(130, 130, 130, 0.35);
    -fx-background-radius: 6;
    -fx-background-insets: 3;
    -fx-padding: 4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 6, 0.3, 0, 1);
    -fx-transition: all 0.25s ease-in-out;
}

.scroll-bar:vertical:hover .thumb {
    -fx-background-color: rgba(130, 130, 130, 0.55);
}

.scroll-bar:vertical .thumb:pressed {
    -fx-opacity: 1;
    -fx-background-color: rgba(130, 130, 130, 0.75);
}


#userManageCard, #eventManageCard {

    -fx-background-color: "WHITE";
    -fx-background-radius: 10px;
    -fx-background-insets: 1;

    -fx-effect: dropshadow(gaussian, rgba(43,43,43,0.2), 10,0,0,10);

}

