
.Purple_Buttons {

    -fx-background-color: rgba(227, 86, 255, 0.36);
    -fx-text-fill: rgba(213,0,255,1);
    -fx-background-radius: 10px;

}

.Purple_Buttons:hover {

    -fx-background-color: rgba(227, 86, 255, 0.18);

}

.Purple_Buttons:pressed {

    -fx-background-color: rgba(227, 86, 255, 0.72);

}

#createBtn {

    -fx-background-color: rgba(70, 70 ,70, 1);
    -fx-background-radius: 10px;
    -fx-background-insets: 1;
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-border-color: "BLACK";
    -fx-border-radius: 10px;
    -fx-border-width: 2;

}

#createBtn:hover {

    -fx-background-color: rgba(50, 50 ,50, 1);

}

#cancelBtn {

    -fx-background-color: rgba(240, 240 ,240, 1);
    -fx-background-radius: 10px;
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-border-color: "BLACK";
    -fx-border-radius: 10px;
    -fx-border-width: 2;

}

#cancelBtn:hover {

    -fx-background-color: rgba(220, 220 ,220, 1);

}

#topCard, #bottomCard {

    -fx-background-color: "WHITE";
    -fx-background-radius: 10px;
    -fx-background-insets: 1;

    -fx-effect: dropshadow(gaussian, rgba(43,43,43,0.2), 10,0,0,10);

}

#innerCard {

    -fx-background-color: rgba(59, 206, 255, 0.46);
    -fx-background-radius: 10px;
    -fx-background-insets: 1;

    -fx-border-color: rgba(19,93,231, 0.5);
    -fx-border-radius: 10px;
    -fx-border-width: 2;

}

