#imagePane {

    -fx-border-color: "BLACK";
    -fx-border-radius: 100px;
    -fx-border-width: 2;

}

#txtFldUser, #txtFldPass, #passFldPass {

    -fx-background-color: "WHITE";
    -fx-background-radius: 10px;

    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 2;

}

#signInBtn {

    -fx-background-color: "BLACK";
    -fx-background-radius: 10px;
    -fx-background-insets: 1;

    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 2;

}

#showHideBtn {

    -fx-background-color: "TRANSPARENT";

    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 2;

}

#backBtn {

    -fx-background-color: "TRANSPARENT";

}