#imagePane {

    -fx-border-color: "GREY";
    -fx-border-radius: 100px;
    -fx-border-width: 1.5;

}

#loginBtn {

    -fx-background-color: "TRANSPARENT";

    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 2.5;

}

#scrollingPane {

    -fx-background-color: "TRANSPARENT";


}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-opacity: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-opacity: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(130, 130, 130, 0.35);
    -fx-background-radius: 6;
    -fx-background-insets: 3;
    -fx-padding: 4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 6, 0.3, 0, 1);
    -fx-transition: all 0.25s ease-in-out;
}

.scroll-bar:vertical:hover .thumb {
    -fx-background-color: rgba(130, 130, 130, 0.55);
}

.scroll-bar:vertical .thumb:pressed {
    -fx-opacity: 1;
    -fx-background-color: rgba(130, 130, 130, 0.75);
}


#upperPane {

    -fx-background-color: "TRANSPARENT";

}

#innerPane {

    -fx-background-color: "TRANSPARENT";

}

#border {

    -fx-background-color: "LIGHTGREY";

}

.event-box {

    -fx-background-color: "WHITE";
    -fx-background-radius: 10px;

    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 2;

    -fx-pref-height: 200px;
    -fx-pref-width: 250px;

    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;

    -fx-effect: dropshadow(gaussian, rgba(43,43,43,0.2), 10, 0, 0, 10);

}